<body>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/about/">About</a>

    <h1>About Me</h1>
  
    <p>Single, gay, atheist, green socialist with HIV who loves life. And dogs.</p>
  
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  </body>